html,
body {
	width: 100%;
	height: 100%;
}

body {
	background: url(img3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.384);
	background-blend-mode: darken;
}

.stripe {
	margin: 20px auto;
	color: #0d6efd;
	border: 3px solid #0d6efd;
	max-width: 65px;
	border-radius: 100px;
	opacity: 1;
	background-color: #0d6efd;
}

p {
	color: rgb(255, 255, 255);
	font-size: 1.5em;
	font-family: "Raleway", sans-serif;
}

h1 {
	color: white;
	font-size: 5rem;
	text-transform: uppercase;
	letter-spacing: 8.5px;
	font-family: "Playfair Display SC", serif;
}

button {
	font-size: 1.5rem;
}

.btn-primary {
	padding: 10px 50px;
}
